@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumLight";
  src: url("../static/font/NanumSquareNeo-aLt.ttf");
}

@font-face {
  font-family: "NanumRegular";
  src: url("../static/font/NanumSquareNeo-bRg.ttf");
}

@font-face {
  font-family: "NanumBold";
  src: url("../static/font/NanumSquareNeo-cBd.ttf");
}
